@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

.profile-wrapper {
  width: 90vw;
  height: fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid gainsboro;
}

.avatar {
  border-radius: 50%;
}

.profile-info {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-name {
  font-size: 1.5rem;
}

.profile-stats {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  cursor: pointer;
}

.profile-stat:hover strong {
  color: royalblue;
}

.profile-controls {
  margin-top: 1rem;
}

.stacked-button {
  display: flex;
  gap: 0.25rem;
}
.container{
  max-width: 1290px !important;
}

button.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: 0;
  cursor: pointer;
  height: 42px;
  width: 164px;
  transition: color 0.3s, border 0.3s, background-color 0.3s;
  background-color: #1976d2;
  color: white;
  font-size: 0.95rem;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

button.follow:not(.following):hover {
  background-color: #1e88e5;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
button.follow a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.post_container {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  align-items: flex-start;
}
.posts_box{
  margin-top: 1rem;
}

.grid {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 84vw;
  margin: 2.5vw auto;
}

.grid-item {
  padding: 5px;
  box-sizing: border-box;
  display: inline;
}

@media (min-width: 500px) {
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .grid-item {
    width: 33.333%;
  }
}

@media (min-width: 1700px) {
  .grid-item {
    width: 25%;
  }
}

@media (min-width: 2100px) {
  .grid-item {
    width: 20%;
  }
}
